.header{
    background-color: #2262ac;
    height: 50vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0;

}

.main{
    background-color: white;
    color: #000;
}

.file-upload{
    border: 1px dotted gray;
}

label{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -50px;
    padding: 0;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 18px;
    margin: 30px;
}
.tags{
    border: 1px solid gray;
    padding: 30px;
}
.tags input{
    width: 100%;
    border: none;
    padding-left: 10px;
}
.tags input:focus{
    border: none;
    outline: none;
}

.tags button{
    outline: none;
    padding: 5px 20px;
    border: 1px solid gray;
    background-color: none;
    background: none;
    margin: 5px;
    border-radius: 5px;
}

.usage .place{
    box-shadow: 0px 5px 0px 0px green;
}

.work-method{
    background: linear-gradient(white, white, white, white, white, #efefef);
}

.hours-need{
    background: linear-gradient( white, white, #efefef);
    padding: 10px 10px;
}

#payment-method{
    display: none;
    background: linear-gradient(white, white, white, white, white, #efefef);
}

#budget, #hours-budget{
    display: none;
}
.payment {
    text-decoration: none;
    color: black;    
    transition: all 0.3s;
    cursor: pointer;
}

.payment:hover{
    background-color: rgb(231, 231, 231);
    color: black;
}

.usableArea{
    cursor: pointer; 
    position: relative;
}
.usableArea::after{
    position: absolute;
    top: 0px;
    left: 0px;
    content: var(--content, ' ');
    font-size: 30px;

}
.usableArea:hover{
    background-color: rgb(231, 231, 231);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 :root {
    --overlay-color: rgba(0, 0, 0, .7);
    --dialog-color: #e9ecef;
    --dialog-border-radius: 20px;
    --icon-color: rgba(73, 80, 87, .6);
    --dialog-padding: 20px;
    --drag-over-background: #e3e5e8;
 }
 
